atom-text-editor.editor {
  .syntax--storage {
    &.syntax--type {
      color: hsl(28, 63%, 56%);
    }
  }
  .syntax--code_below.syntax--beyond , .syntax--delayed_code.syntax--beyond{
    color: hsl(60, 70%, 49%);
  }
  .syntax--code.syntax--beyond{
    color: hsl(122, 44%, 55%);
  }
}
